<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="icon" href="http://www.favicon.co.uk/ico/4219.png" type="image/x-icon"> 
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/_header' %>
    <div class="container">
        <%= yield %>
        <div class="center">
            <img class="center"
            src="http://c95711.r11.cf3.rackcdn.com/under_construction_1.jpg"
            alt="Under Construction" width=100px height=100px />
        </div>
        <%= render 'layouts/_footer' %>
    </div>

</body>
</html>
